body {
    background: black;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center
  }

  h1 {
    font-family: 'Mansalva', cursive;
    color: #ffffff;
    text-align:center;
    font-size:35px;
  }

  a { 
    color: #ffffff;
  }

  a:hover { 
    color: #ffffff;

  }

  .bg {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .25s;
    pointer-events: none;
  }

  li {
    list-style:none;
    float:left;
    padding:2px;
    font-size:25px;
  }

  li a { 
    float:left;
      rgba(0,0,0,.25);
      transition:.25s;}

  li a:hover  {
      margin:-5px 0 0 0;
  }
       
  .menu li:first-child:hover ~ .bg {
    background: #171515 !important;
  }

  .menu li:nth-child(2):hover ~ .bg {
    background: #00acee !important;
  }

  .menu li:nth-child(3):hover ~ .bg {
    background: #175587 !important;
  }

  .menu li:nth-child(4):hover ~ .bg {
    background: #1cd262 !important;
  }

  .menu li:nth-child(5):hover ~ .bg {
    background: #748cdc !important; 
  }

  .menu li:nth-child(6):hover ~ .bg {
    background: #d3493c !important;
  }

  .menu{
      padding-inline-start: 0;
  }