@import "variables";
@import "content";
@import "syntax-highlighting";

body {
  text-align: center;
	background: #000;
		color: #FFFFFF;
			font-family: sans-serif;
}
/* .wrapper {
	max-width: 600px;
		margin: 0 auto;
} */
header {
	font-size: xx-large;
    font-family: 'Archivo Black', sans-serif;
		text-align: center;
			font-weight: bold;
				clear: both;
}

/* .banner {
	max-width: 100%;
}
.bird {
	max-width: 33%;
		float:left;
}
.clear {
	clear: both;
} */
link {
	list-style-type: none;
		font-weight: bold;
			font-size: x-large;
}

a {
	color: #FEDCBA;
  text-decoration: none;
}